html,
body,
#root,
#root > * {
  height: 100%;
}

body {
  margin: 0;
  font-size: 14px;
}

a {
  text-decoration: underline;
  cursor: pointer;
}

#searchForm > .ant-row > .ant-row.ant-form-item {
  width: 100%;
  text-align: right;
  padding-right: 12px;
  .ant-col {
    flex: 1;
    max-width: 100%;
    width: 100%;
    .ant-btn:first-child {
      margin-right: 10px;
    }
  }
}

.app-loading-wrapper.ant-spin-spinning {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.marquee-container {
  width: 100%; /* Hoặc chiều rộng mong muốn */
  height: 32px; /* Chiều cao của container */
  background-color: #FFC20E; /* Màu nền */
  overflow: hidden; /* Ẩn nội dung tràn ra ngoài */
  border-radius: 8px; /* Bo góc */
  margin-left: auto; /* Căn giữa */
  margin-right: auto; /* Căn giữa */
  display: flex; /* Sử dụng Flexbox để căn giữa nội dung */
  align-items: center; /* Căn giữa theo chiều dọc */
}

.marquee-content {
  display: inline-block;
  white-space: nowrap;
  animation: marquee 20s linear infinite;
}

.marquee-item {
  font-size: 16px;
  display: inline-block;
  padding-right: 150px; /* Khoảng cách giữa các dòng */
}

/* Keyframes cho hiệu ứng cuộn */
@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}


/* Style for each action button */
.action-btn {
  border-radius: 15px;
  background-color:#cfe7e7;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px; /* Width of the button */
  height: 42px; /* Height of the button */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s ease; /* Smooth transition for background color */
  border: none; /* Remove default border */
}

/* Background color on hover */
.action-btn:hover {
  background-color: #FFC20E; /* Background color on hover */
}

/* Container for user avatar */
.user-action {
  display: flex;
  align-items: center; /* Center avatar vertically */
}

/* Style for user avatar image */
.user-avator {
  width: 32px; /* Width of the avatar */
  height: 32px; /* Height of the avatar */
  border-radius: 50%; /* Circle shape */
  object-fit: cover; /* Ensures image covers the container without distortion */
}

.theme-color {
  background-color: #FFC20E;
}

.vertical-line {
  height: 2rem;
  border-left: 1px solid #ffffff;
}

.system-name-span {
  font-size: 1rem;
  font-weight: 400;
  text-align: left;
  color: #fff;
}